.phishdetect-dialog-large {
    width: 600px;
}
.phishdetect-button-safe {
    background-color: #5cb85c;
    color: white;
}
.phishdetect-button-unsafe {
    background-color: #d9534f;
    color: white;
}
