.pd-webmail-dialog-red-button {
    color: #fff;
    background-color: #e3342f;
}
.pd-webmail-dialog-green-button {
    color: #fff;
    background-color: #38c172;
}
.pd-webmail-warning {
    background-color: #22292f;
    color: #f1f5f8;
    padding: 1rem;
    padding-top: 0;
    margin-bottom: 1rem;
    border-radius: .5rem;
    letter-spacing: 0;
}
.pd-webmail-report {
    padding: .5rem;
    border-radius: .5rem;
}
.pd-webmail-report:hover {
    background-color: #f1f5f8;
}
.pd-webmail-button-icon {
    margin-right: .5rem;
}
.pd-webmail-button .fa-fish {
    color: #3490dc;
}
.pd-webmail-button .fa-check-circle {
    color: #38c172;
}
.pd-webmail-link-warning {
    color: #e3342f;
}
.roundcube .pd-webmail-button {
    display: block;
    font-size: .82rem;
}
.pd-webmail-reported {
    cursor: auto;
}
.roundcube .pd-webmail-report.pd-webmail-button {
    cursor: pointer;
    padding: .5rem;
}

.pd-webmail-dialog {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}
.pd-webmail-dialog-url {
    font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    color: #2779bd;
}
