html, body {
    background-color: #fff;
    font-family: "Lucida Grande", "Segoe UI", Tahoma, "DejaVu Sans", Arial, sans-serif;
}

#container {
    padding: 2em;
    min-width: 300px;
}

h1 {
    margin-bottom: 1em;
}

h2 {
    line-height: 1;
    font-size: 1.3em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

a {
    color: #2779BD;
    text-decoration: none;
}
a:hover {
    color: #1C3D5A;
    text-decoration: underline;
}

.separator {
    border-bottom: 1px solid #B8C2CC;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* https://stackoverflow.com/questions/34378940/rotating-a-font-awesome-icon-on-hover */
.fa-spin {
    animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}
