@tailwind base;

html, body {
    @apply bg-gray-100 text-gray-900;
    font-family: "Lucida Grande", "Segoe UI", Tahoma, "DejaVu Sans", Arial, sans-serif;
}

#container {
    @apply p-8;
    min-width: 300px;
}

h1 {
    @apply text-2xl mb-4;
}
h2 {
    @apply text-xl font-normal m-0 p-0;
}

a {
    @apply text-blue-500 no-underline;
}
a:hover {
    @apply underline;
}

p {
    @apply leading-normal;
}

.pd-container {
    @apply container mx-auto justify-center items-center;
}

.separator {
    @apply border-b border-gray-500 mt-1 mb-1;
}

.pd-button-blue {
    @apply py-1 px-2 rounded bg-blue-500 cursor-pointer border-2 border-blue-500 text-white no-underline;
}
.pd-button-blue:hover {
    @apply bg-blue-600 border-blue-600 no-underline;
}
.pd-button-red {
    @apply py-1 px-2 rounded bg-red-500 cursor-pointer border-2 border-red-500 text-white no-underline;
}
.pd-button-red:hover {
    @apply bg-red-600 border-red-600 no-underline;
}
.pd-button-gray {
    @apply py-1 px-2 rounded bg-gray-300 cursor-pointer border-2 border-gray-300 text-gray-800 no-underline;
}
.pd-button-gray:hover {
    @apply bg-gray-400 border-gray-400 no-underline;
}

.pd-form-input {
    @apply block appearance-none w-2/5 bg-white border border-gray-300 px-2 py-2 rounded;
}
.pd-form-input:focus {
    @apply border-blue-300;
}

.pd-status-red {
    @apply bg-red-200 border border-red-400 text-red-700 px-3 py-2 rounded relative;
}
.pd-status-red-text {
    @apply text-red-700;
}
.pd-status-yellow {
    @apply bg-yellow-200 border border-yellow-400 text-yellow-700 px-3 py-2 rounded relative;
}
.pd-status-yellow-text {
    @apply text-yellow-700;
}
.pd-needs-online {
    display: none;
}

.pd-yellow-warning {
    @apply border-l-8 border-yellow-400 mb-8 bg-yellow-200 text-yellow-700 p-6 rounded-lg leading-normal
}
.pd-yellow-warning .highlight {
    @apply font-mono bg-yellow-300 text-yellow-700;
}
.pd-red-warning {
    @apply 
    border-l-8 border-red-400 mb-8 bg-red-200 text-red-700 p-6 rounded-lg leading-normal;
}
.pd-red-warning .highlight {
    @apply font-mono bg-red-300 text-red-700;
}
.pd-safelisted {
    @apply border-l-8 border-green-300 mb-8 bg-green-200 text-green-700 p-6 rounded-lg leading-normal;
}
.pd-information {
    @apply border-l-8 border-blue-300 mb-8 bg-blue-200 text-blue-700 p-6 rounded-lg leading-normal;
}

.pd-blocked-body {
    @apply bg-gray-900 text-gray-100 p-20 h-screen;
}
.pd-blocked-away {
    @apply w-full mt-8 py-3 px-3 bg-blue-500 border-b-4 border-blue-700 rounded cursor-pointer text-center text-blue-100 no-underline text-base font-bold;
}
.pd-blocked-away:hover {
    @apply bg-blue-400 border-blue-500;
}

@tailwind utilities;
