@tailwind base;

html, body {
    @apply bg-gray-100 text-gray-900;
    font-family: "Lucida Grande", "Segoe UI", Tahoma, "DejaVu Sans", Arial, sans-serif;
}

#container {
    @apply p-8;
    min-width: 300px;
}

h1 {
    @apply text-xl mb-4;
}

h2 {
    @apply text-lg font-normal m-0 p-0;
}

a {
    @apply text-blue-500 no-underline;
}
a:hover {
    @apply underline;
}

.separator {
    @apply border-b border-gray-500 mt-1 mb-1;
}

.pd-button-blue {
    @apply py-1 px-2 rounded bg-blue-500 cursor-pointer border-2 border-blue-500 text-white no-underline;
}
.pd-button-blue:hover {
    @apply bg-blue-600 border-blue-600 no-underline;
}
.pd-button-gray {
    @apply py-1 px-2 rounded bg-gray-400 cursor-pointer border-2 border-gray-400 text-gray-900 no-underline;
}
.pd-button-gray:hover {
    @apply bg-gray-500 border-gray-500 no-underline;
}

.pd-form-input {
    @apply block appearance-none w-2/5 bg-white border border-gray-300 px-2 py-2 rounded;
}
.pd-form-input:focus {
    @apply border-blue-300;
}
.pd-alert {
    @apply bg-red-100 border border-red-400 text-red-700 px-3 py-2 rounded relative;
}
.pd-alert-text {
    @apply text-red-700;
}
.pd-needs-online {
    display: none;
}

@tailwind utilities;
